
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Notify email test
      </h1>

      <h2 class="govuk-heading-m">Prototype</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/email-address-page"">Go to email subscribe page</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
